@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#index {
    height: 100%;
    width: 100%;
    background-color: #222;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #303030;
    height: 5%;
}

header button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ddd;
}

#container {
    display: flex;
    height: 95%;
    width: 100%;
    box-sizing: border-box;
}

.text-big {
    font-size: 1.5rem;
}

.text-mid {
    font-size: 1.2rem;
}

.text-small {
    font-size: 0.8rem;
}

#left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#password,
#name,
#mkroom {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #ddd;
    text-align: center;
}

.input-big{
    padding: 5rem 5rem;
    background-color: #303030;
}

.input-big form {
    display: flex;
    flex-direction: column;
}

.input-big input {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    border-bottom: #ddd 1px solid;
    outline: none;
    color: #ddd;
    text-align: center;
}

#password,
#name {
    display: none;
}

#right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#room {
    display: flex;
    flex-direction: column;
}

.input-small input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    background: #303030;
    outline: none;
    color: #ddd;
}

.room-list {
    list-style-type: none;
}

.room-item {
    padding: 1rem 2rem;
    color: #ddd;
    font-weight: 300;
}

.room-item p {
    margin: 0.5rem 0;
}

.room-list li:nth-child(odd) {
    background: #222;
}

.room-list li:nth-child(even) {
    background: #252525;
}