* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.modal {
    display: none;
}